Temp/
obj/
Library/
XCode/
Switch2-XCode/
.vscode/
.vs/
.idea/


*.csproj
*.pidb
*.unityproj
*.userprefs
*.sln
*.suo
*.svd

*.swp

*.pyc
*.pyc.meta

xcuserdata
*.pbxuser
libiPhone-lib.a
.DS_Store

crashlytics_build_id.xml
crashlytics_build_id.xml.meta

pseudocloud.txt
pseudocloud.txt.meta